

# Ignore all .env files in the project, including subdirectories
.env
.env.*

# Ignore all node_modules directories in the project, including subdirectories
node_modules/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
